<!doctype html>
<html lang="">
<head>
  <title>Test application</title>
   {{ request.assets_get_stylesheet_bundle('app_css') | safe }}
</head>
<body>
<p id="hello">Hello (without javascript)</p>

<img src="{{ request.assets_get_asset_url('images/dog/no-idea.jpg') }}"
     width="600" height="434" alt="No idea">
{{ request.assets_get_javascript_bundle('app_js') | safe }}

</body>
</html>
